body{
    margin: 0px;
    padding: 0px;
    background-color: oklch(98.4% 0.003 247.858);
    font-family: 'Courier New', Courier, monospace;
    color: oklch(37.2% 0.044 257.287);
}

li{
    list-style: none;
}

/* menu */

.header{
    border: solid oklch(20.8% 0.042 265.755) 1px;
    background-color: oklch(37.2% 0.044 257.287);
    height: 40px;
    position: fixed;
    margin-top: -40px;
    width: 100%;
}

#logo{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: oklch(98.4% 0.003 247.858);
}

#logo:hover{
    color: oklch(70.4% 0.04 256.788);
}

/* main content */

.introdaction{
    text-indent: 20px;
    grid-row: 1/2;
    grid-column: 2/5;
    padding: 0px 20px;
}

.main-content{
    margin-top: 40px;
    background-image: url(https://png.pngtree.com/background/20220731/original/pngtree-minimalist-white-background-picture-image_1908437.jpg);
    display: grid;
    grid-template-columns: 5px 1fr 5px 1fr 5px;
    grid-template-rows: minmax(100px, auto) 1fr 5px 1fr minmax(50px, auto);
}

.courses{
    border: solid oklch(44.6% 0.043 257.281) 1px;
    padding: 0px 15px;
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 2/5;
}

.courses h2{
    text-align: center;
}

.soprovagdenie{
    border: solid 1px oklch(44.6% 0.043 257.281);
    display: inline-block;
    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 0px 5px;
}

.soprovagdenie h2{
    text-align: center;
}

.consultation{
    display: inline-block;
    border: solid 1px oklch(44.6% 0.043 257.281);
    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 4/5;
    padding: 0px 5px;
}
.consultation h2{
    text-align: center;
}

.consultation p {
    text-align: center;
}

.box{
    background-color: rgba(98, 116, 142, 0.107);
}

.box:hover{
    background-color: rgba(98, 116, 142, 0.193);
}

/* footer-contact */

.footer{
    display: grid;
    grid-template-columns: 1fr minmax(10px, auto) 1fr minmax(10px, auto) 1fr;
}

.contact{
    display: inline-block;
    grid-column: 1/2;
}

.address{
    display: inline-block;
    grid-column: 3/4;
}

.address-link{
    text-decoration: none;
    color: oklch(70.4% 0.04 256.788);
}

.address-link:hover{
    color: oklch(37.2% 0.044 257.287);
}

.telegram{
    border-radius: 50%;
}

.instagram{
    border-radius: 18px;
}

.icon{
    margin: 25px 5px;
    width: 50px;
}

.icons{
    grid-column: 5/6;
}