body{
    margin: 0px;
    padding: 0px;
    background-color: oklch(98.4% 0.003 247.858);
    color: oklch(37.2% 0.044 257.287);
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

/* menu */

.header{
    border: solid oklch(20.8% 0.042 265.755) 1px;
    background-color: oklch(37.2% 0.044 257.287);
    height: 40px;
    position: fixed;
    margin-top: -40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(100px, auto) minmax(100px, auto) 10px;
}

#logo{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: oklch(98.4% 0.003 247.858);
    grid-column: 1/2;
}

#logo:hover{
    color: oklch(70.4% 0.04 256.788);
}

.dropdown {
  position: absolute;
  display: inline-block;
  grid-column: 3/4;
}

.dropbtn {
  margin-top: 5px;
  padding: 5px 30px;
  font-size: 16px;
  color: oklch(37.2% 0.044 257.287);
  background-color: oklch(98.4% 0.003 247.858);
}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: 105px;
  z-index: 1;
}

.dropdown-content a {
  font-size: 15px;
  border: solid 1px black;
  display: block;
  padding: 2px;
  text-decoration: none;
  color: oklch(37.2% 0.044 257.287);
  background-color: oklch(98.4% 0.003 247.858);
}

.dropdown-content a:hover{
    background-color: oklch(37.2% 0.044 257.287);
    color: oklch(98.4% 0.003 247.858);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* main content */

.main-content{
    margin-top: 40px;
    background-image: url(https://png.pngtree.com/background/20220731/original/pngtree-minimalist-white-background-picture-image_1908437.jpg);
    display: grid;
    grid-template-columns: 5px 1fr 5px 1fr 5px;
    grid-template-rows: minmax(10px, auto) 1fr 5px 1fr 5px 1fr 5px 1fr minmax(10px, auto);
}

.introdaction{
    grid-row: 1/2;
    grid-column: 1/6;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 380px;
}

.about{ 
    margin-top: -30px;
    height: 80%; 
    background-image: url("https://s.26-2.ru/images/preview/600x400/b43e8c60ffb46d9e696100ed551b3f57.jpg");
    background-size: cover;
}

.opacity-for-about{
    height: 100%;
    background-color: rgba(61, 66, 120, 0.521);
}

.photo-1C{
  transition: transform 2s;
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 50%;
  right: 0;
  width: 100px;
}

.photo-1C:hover{
  transform: rotate(360deg);
}

.opacity-for-about .about-main-text {
    color: oklch(98.4% 0.003 247.858);
    top: 35%;
    bottom: 45%;
    font-size: 30px;
    font-weight: 900;
    position: relative;
}

.opacity-for-about .bg-vertical {
    margin: 0px;
    font-size: 30px;
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.video{
    border-radius: 5px;
    width: 90%;
    min-height: 515px;
}

.courses{
    border: solid oklch(44.6% 0.043 257.281) 1px;
    padding: 0px 15px;
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 2/5;
    scroll-margin-top: 60px;
}

.soprovagdenie{
    border: solid 1px oklch(44.6% 0.043 257.281);
    display: inline-block;
    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 0px 5px;
    scroll-margin-top: 60px;
}

.consultation{
    display: inline-block;
    border: solid 1px oklch(44.6% 0.043 257.281);
    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 4/5;
    padding: 0px 5px;
    scroll-margin-top: 60px;
}


.consultation p {
    text-align: center;
}

.one-c-predpriatie-course{
    border: solid 1px oklch(44.6% 0.043 257.281);
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 6/7;
    padding: 0px 5px;
    scroll-margin-top: 60px;
}

.one-c-programming-course{ 
    border: solid 1px oklch(44.6% 0.043 257.281);
    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 6/7;
    padding: 0px 5px;
}

.comp-gram-course{
    border: solid 1px oklch(44.6% 0.043 257.281);
    border-radius: 15px;
    grid-column: 2/5;
    grid-row: 8/9;
    padding: 0px 5px;
    scroll-margin-top: 60px;
}

.box{
    background-color: rgba(98, 116, 142, 0.107);
}

.box:hover{
    background-color: rgba(98, 116, 142, 0.193);
}

.box h2{
    text-align: center;
}

@media (max-width: 786px) {
    .video{
        min-height: 415px;
    }

    .opacity-for-about .bg-vertical  {
        font-size: 26px;
    }
}

@media (max-width: 600px) {
     .main-content {
        grid-template-columns: 5px 1fr 5px;
        grid-template-rows: 5px minmax(50px, auto) 5px minmax(50px, auto) 5px minmax(50px, auto) 5px minmax(50px, auto) 5px minmax(50px, auto) 5px minmax(50px, auto) 5px minmax(50px, auto) 5px;
     }

     .introdaction {
        grid-row: 1/3;
        grid-column: 1/4;
        padding-bottom: 80px;
     }

     .about{
        height: 100%;
     }

     .video{
        min-height: 315px;
     }
    
     .courses{
        grid-column: 2/3;
        grid-row: 4/5;
     }

     .soprovagdenie{
        grid-row: 6/7;
        grid-column: 2/3;
     }

     .consultation{
        grid-column: 2/3;
        grid-row: 8/9;
     }

     .one-c-predpriatie-course{
        grid-column: 2/3;
        grid-row: 10/11;
     }

     .one-c-programming-course{
        grid-column: 2/3;
        grid-row: 12/13;
     }

     .comp-gram-course{
        grid-column: 2/3;
        grid-row: 14/15;
     }
}

/* footer-contact */

.footer{
    display: grid;
    grid-template-columns: 1fr minmax(10px, auto) 1fr minmax(10px, auto) minmax(100px, auto);
    scroll-margin-top: 60px;
}

.contact{
    display: inline-block;
    grid-column: 1/2;
}

.address{
    display: inline-block;
    grid-column: 3/4;
}

.address-link{
    text-decoration: none;
    color: oklch(70.4% 0.04 256.788);
}

.address-link:hover{
    color: oklch(37.2% 0.044 257.287);
}

.telegram{
    border-radius: 50%;
}

.instagram{
    border-radius: 18px;
}

.icon{
    margin: 25px 5px;
    width: 50px;
}

.icons{
    grid-column: 5/6;
}

@media (max-width: 600px) {
 .footer{
    grid-template-columns: minmax(60px, auto) minmax(5px, auto) minmax(50px, auto) minmax(5px, auto) minmax(50px, auto);
 }
 
 .instagram{
    border-radius: 10px;
}

 .icon{
    width: 30px;
 }
}